html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    height: 140px;
    color:rgb(50,57,67);
    margin: 0;
    padding: 0;
}

.header-item {
    display: flex;
    align-items: center;
    height: 70%;
    width: 100%;
} 

.header-line {
    width: 90%;
    height: 70px;
    padding-left: 10%;
    display: flex;
    align-items: center;
    background: linear-gradient(56deg, rgba(138,224,135,1) 0%, rgba(195,247,113,1) 68%);
}

.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 74%;
    margin-left: 10%;

}

.content {
    flex: 1 0 auto;
    margin-top: 136px;

}

.content-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.text {
    width: 800px;
    padding: 0px 20px 0px 20px;
    color: rgb(169, 169, 169);
    font-size: 18px;
}

.title {
    color: aliceblue;
    font-size: 32px;
}

h3 {
    margin: 0;
    color: rgb(80, 80, 80);
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    width: 100%;
    margin: 0;
    padding: 0;
  }

img {
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
    color:rgb(50,57,67);
    font-size: 18px;
}

.undeline {
    width: 90%;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-left: 10%;
    color: rgb(187, 187, 187);
    font-size: 14px;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 354px;
    height: 256px;

    background: linear-gradient(56deg, rgba(138,224,135,1) 0%, rgba(195,247,113,1) 68%);

    border-radius: 10px;
}

.form-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

form {
    width: 50%;
    padding: 20px;
    border: 1px solid rgb(219, 219, 219);
}

textarea {
    width: 50%; 
    height: 90px;
    resize: none;
}

.name {
    width: 50%;
    margin-left: 10px;
}

.email {
    width: 50%;
    margin-left: 100px;
}

.notice {
    margin-left: 42px;
  }

.output {
    width: 500px;
    height: 247px;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);

}

.output-text {
    margin: 0;
    padding: 5px;
    border: 1px solid rgb(219, 219, 219);
}

h5 {
    margin-bottom: 2px;
}

.title-porto {
    margin-bottom: 5px;
}

.footer a {

    color: aliceblue;
  }

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex: 0 0 auto;

    height: 90px;

    border-top: 1px solid rgb(219, 219, 219);

    background-color: rgb(77, 72, 72);
    color: aliceblue;
}
